@use "variables" as v;
@use "mixins" as m;
button {
  background-color: v.$teal;
  color: v.$white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: v.$border-radius;
  cursor: pointer;
  width: 320px;
  @include m.forSize(desktop) {
    width: 520px;
    padding: 16px 25px;
  }
}
button:hover {
  background-color: v.$dark-teal;
}
