@use "variables" as v;
@use "mixins" as m;

.game {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 46px;

  &__board {
    display: grid;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    grid-gap: 10px;
    background-color: v.$mint;
    border-radius: v.$border-radius;

    @include m.forSize(desktop) {
      max-width: 500px;
    }
  }
}

