@use "variables" as v;
@use "mixins" as m;
.game {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 46px;

  &__board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    background-color: v.$mint;
    padding: 10px;
    border-radius: v.$border-radius;
    @include m.forSize(desktop) {
      grid-template-columns: repeat(5, 100px);
    }
  }
}
