button {
  background-color: #2a2f45;
  color: #b7dea1;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 550px;
}
button:hover {
  background-color: #b7dea1;
  color: #2a2f45;
  transform: scale(1.05);
}
