.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ff7eb0;
  color: #f7ecc6;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
}
.hidden-tile {
  visibility: hidden;
}
