@use "variables" as v;
.winmessage {
  background-color: v.$beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: v.$white;
    background: v.$mint;
    padding: 26px;
    border-radius: v.$border-radius;
    text-align: center;
    h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}
